@import "tailwindcss";

@theme {
  --font-inter: "Inter";
  --font-heading: "EB Garamond";
  --color-Primary-warm: rgba(58, 56, 69, 1);
  --color-light:#FFFDFB;
}

.nav-link {
  @apply text-Primary-warm text-[14px] capitalize;
}
.product-name{
  @apply font-semibold uppercase text-[18px] tracking-[6%] text-[#3A3845] pt-5.75;
}
